---
layout: 2020/list
section: proposals
permalink: 2020/talleres/
title: Talleres esLibre 2020
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Talleres para es<span class="red">Libre</span> 2020</strong></h1>
  </div>
</div>
<hr class="my-4">

<p style="padding-top: 1em" align="center">
  <cite style="color: black;">
    <strong><span class="red">ATENCIÓN</span></strong>: Debido a la situación por el COVID-19, la celebración de <strong>es<span class="red">Libre</span> 2020</strong> se celebrará de forma <strong>completamente online</strong>. Más información <a
      href="https://eslib.re/2020/reanudacion/">aquí</a>.
  </cite>
</p>

<ul style="padding-bottom: 4em" id="list">
  {% for workshop in site.pages %}
  {% if workshop.path contains '2020/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
  {% unless workshop.path contains 'cancelados' %}
  <li><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.title}}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
